* {
    border: olid;
    font: 1em sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.top-links {
    display: flex;
    gap: 24px;
    padding: 0 24px;
}
.top {
    display: flex;
    flex-direction: column;
    background: solid;
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    display: flex;
    padding: 200px 100px;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-flow: column wrap;
}

.text-one {
    font-size: 48px;
    font-weight: bolder;
}

img {
    max-width: 400px;
}

button {
    max-width: 100px;
}