* {
    border: olid;
    font: 1em sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 10px;
}

.logo {
    font-family: 'cascade script' sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.top-links {
    display: flex;
    gap: 24px;
}
.top {
    display: flex;
    flex-direction: column;
    background: solid;
    background-color: #1f2937;
    color: #f9faf8;
    max-height: 500px;
}

.hero {
    display: flex;
    padding: 100px 100px;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.text-one {
    font-size: 48px;
    font-weight: bolder;
}

img {
    max-width: 400px;
}

button {
    max-width: 125px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
}